<h1>Events</h1>

<div class="card mb-4">
<table class="table container table-hover table-borderless">
  <thead>
    <tr class="table-success">
      <th scope="col" style="border-radius:8px 0px 0px 0px">Meetup Id</th>
      <th scope="col" style="border-radius:0px 8px 0px 0px">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td style="border-right: 1px solid #e2e8eb"><%= event.urlname %></td>
      <td>
        <%= link_to('remove', event_path(event.id),
        method: :delete, class:"text-warning")%>
      </td>    
    </tr>
    <%end%>
  </tbody>
</table>
</div>
