<div class="container">

  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>

  <ul>
      <% @events["events"].each do |key, value| %>
        <li>
        <%= link_to key['name'], key["link"] %>
          <%= key['local_date'] %>
        </li>
      <% end %>
  </ul>
</div>