<h2 class="my-3 text-center">Directory</h2>
<% @companies.each do |company| %>
    <ul>

        <li 
        style="list-style-type: none; border-radius: 5px" 
        class="border border-dark p-3">
            <%= link_to( 
                company.name, 
                company_path(company), 
                class: "text-dark") %>
        </li>
    </ul>
    
<% end %>

<%= will_paginate @companies%>

