<div class="container">
<%= form_tag(companies_path, method: :get) do %>
  <%= text_field_tag :term, params[:term], class:"form-control" %>
  <%= submit_tag "Search", name: nil, class:"btn btn-outline-dark mt-2", style:"float: right;" %>
<% end %>
</div>

<%= render "list" %>



