<div class="container">
<%= form_tag(companies_path, method: :get) do %>
  <%= text_field_tag :term, params[:term], class:"form-control" %>
  <%= submit_tag "Search", name: nil %>
<% end %>
</div>

<%= render "list" %>



