<h2>About Tech Trawl</h2>

<p>

<span class="blockquote text-success">A technology company (often tech company)</span> is a type of business entity that focuses primarily on the development and manufacturing of technology, or providing technology as a service. This can include, for example, business relating to digital electronics, software, and internet-related services, such as e-commerce services.[1][2][3]

Apple, Hewlett-Packard, IBM, Amazon, Microsoft, Google, Intel, Oracle, and eBay, among others, are considered prototypical technology companies.[4]

Many large tech companies are known for innovation, spending large sums of money annually on research and development. According to PwC's 2017 Global Innovation 1000 ranking, tech companies made up nine of the 20 most innovative companies in the world, with the top R&D spender (as measured by expenditure) being Amazon, followed by Alphabet Inc., and then Intel.[5]

As a result of numerous influential tech companies, and tech startups, opening offices in close proximity to one another, a number of technology districts have developed around the world.[6] These include Silicon Valley in the San Francisco Bay Area, Silicon Docks in Dublin, Silicon Hills in Austin, Tech City in London; Digital Media City in Seoul, and Zhongguancun in Beijing.

Information technology (IT) companies and high tech companies are subsets of technology companies.
</p>

<blockquote class="blockquote">
  <footer class="blockquote-footer"><span class="text-success">Head Tech Troll</span>,
    <cite title="Source Title">CEO @ TechTrawl</cite>
  </footer>
</blockquote>


